
/* Wrapper */

#wrapper {
	width: 100%;
}

.app {
	width: 100%;
	background-color: var(--bg);

	&__body {
		display: grid;
		grid-gap: 10px;
		grid-template: 60px 1fr 30px / 300px 1fr;
		grid-template-areas:
			"header header"
			"menu content"
			"footer footer";
		width: 100%;
	}

	.conteiner {
		margin: 0 auto;
		padding: 0 10px;
		max-width: 1400px;
	}
}
