/* == == == == == == == == == == == == == == == == == == ==
	ROOT
== == == == == == == == == == == == == == == == == == == == */

:root {
	--bg: #fff;
	--main: #111;
	--post: rgba(255, 180, 0, 0.5);
	--menu-item-hover: #b8b8b8;
	--text: rgb(223, 223, 223);
	--text-hover: #6a543f;
	--messages: #4dc4ff;
	--music: #8bc94d;
	--news: #ff71b7;
	--settings: #ffa071;
	--link-active: #b4b7ff;
}

/* == == == == == == == == == == == == == == == == == == ==
	FONTS
== == == == == == == == == == == == == == == == == == == == */

/* == == == == == == == == == == == == == == == == == == ==
	NORMALIZE
== == == == == == == == == == == == == == == == == == == == */

@import "normalize";

/* == == == == == == == == == == == == == == == == == == ==
	Style
== == == == == == == == == == == == == == == == == == == == */

@import "main";
