/* == == == == == == == == == == == == == == == == == == ==
	ROOT
== == == == == == == == == == == == == == == == == == == == */

:root {
	--bg: #323232;
	--main: #434343;
	--menu: #808080;
}

/* == == == == == == == == == == == == == == == == == == ==
	FONTS
== == == == == == == == == == == == == == == == == == == == */

/* == == == == == == == == == == == == == == == == == == ==
	NORMALIZE
== == == == == == == == == == == == == == == == == == == == */

@import "normalize";

/* == == == == == == == == == == == == == == == == == == ==
	Style
== == == == == == == == == == == == == == == == == == == == */

@import "main";
